header.masthead {
  /* background: url() no-repeat center bottom scroll; */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.48), rgba(91, 97, 99, 0.26)), url('/../../assets/study.jpg') no-repeat center bottom scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
}

header.masthead>.overlay {
  /* padding: 3em 0; */
  /* text-align: left; */
  background: rgba(0, 0, 0, 0.6);
}

.edu-work{
  padding: 2em;
}

h3,h4{
  padding: 20px;
  color: #ffffff;
  font-size: 2.0em !important;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: underline;
}

.edu-title{
  color: #ffffff;
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
}

.edu-desc{
  color: #ffffff;
  font-size: 16px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media all and (max-width: 600px) {
     h3{
      font-size: 16px;
    }

     p{
      font-size: 12px
     }
  }

  @media only screen and (min-width: 320px) and (max-width: 480px){
    h3{
      font-size: 1.5em
    }
    .edu-title {
      font-size: 14px;
    }

    .edu-box {
      margin: auto;
    }
  }
