<div>
  <h3 class="text-center">Education & Work Experiences</h3>
  <h4 class="text-center">Education</h4>
  <div id="accordion" role="tablist" class="edu">
    <div class="card">
      <div class="card-header" role="tab" id="graduate">
        <h5 class="mb-0">
          <a data-toggle="collapse" href="#graduate_child" aria-expanded="true" aria-controls="collapseOne">
            <span class="edu-date">2012-2016</span>
            Bachelor Degree of Computer Science Binus University
            <i class="float-right fa fa-angle-down"></i>
          </a>
        </h5>
      </div>

      <div id="graduate_child" class="collapse show" role="tabpanel" aria-labelledby="headingOne" >
        <div class="card-body">
          <p>
            <i class="fa fa-star"></i>
            Exchange Student in Hanyang University, South Korea - Fall 2014
          </p>
          <p><i class="fa fa-star"></i>
            GPA: 3,75</p>


        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingTwo">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <span class="edu-date">2009-2012</span>
            SMA Xaverius Bandar Lampung
            <i class="float-right fa fa-angle-down"></i>
          </a>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
        <p><i class="fa fa-star"></i>
          Best Student
        </p>
      </div>
      </div>
    </div>
  </div>
  <div>
    <h4 class="text-center">Work Experiences</h4>

    <!--Timeline start-->
    <section id="cd-timeline" class="cd-container">
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
        </div>

        <div class="cd-timeline-content">
          <h2>PT Jasa Teknologi Informasi IBM</h2>
          <div class="timeline-content-info">
          <span class="timeline-content-info-title work-position">
            <i class="fa fa-certificate" aria-hidden="true"></i>
            Software Specialist
          </span>
            <span class="timeline-content-info-date work-position">
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
            Sept 2016 - Present
          </span>
          </div>
          <p>Working alongside the designer team implementing the designs, also developing custom solutions to address team necessities.</p>
          <!--<ul class="content-skills">-->
            <!--<li>HTML5</li>-->
            <!--<li>CSS3</li>-->
            <!--<li>JavaScript</li>-->
            <!--<li>jQuery</li>-->
            <!--<li>Wordpress</li>-->
          <!--</ul>-->
        </div> <!-- cd-timeline-content -->
      </div> <!-- cd-timeline-block -->

      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
          <!--<h2>Title of section 2</h2>-->
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>-->
          <!--<span class="cd-date" style="font-weight: bold">Jan 18</span>-->
          <h2>PT Kualitas Teknologi Asia </h2>
          <div class="timeline-content-info">
          <span class="timeline-content-info-title work-position">
            <i class="fa fa-certificate" aria-hidden="true"></i>
            Web Developer Intern
          </span>
            <span class="timeline-content-info-date work-position">
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
            2015
          </span>
          </div>
          <p>Working alongside the designer team implementing the designs, also developing custom solutions to address team necessities.</p>
        </div> <!-- cd-timeline-content -->
      </div> <!-- cd-timeline-block -->

      <!--<div class="cd-timeline-block">-->
        <!--<div class="cd-timeline-img cd-picture">-->
        <!--</div> &lt;!&ndash; cd-timeline-img &ndash;&gt;-->

        <!--<div class="cd-timeline-content">-->
          <!--<h2>Title of section 3</h2>-->
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>-->
          <!--<span class="cd-date">Jan 24</span>-->
        <!--</div> &lt;!&ndash; cd-timeline-content &ndash;&gt;-->
      <!--</div> &lt;!&ndash; cd-timeline-block &ndash;&gt;-->

      <!--<div class="cd-timeline-block">-->
        <!--<div class="cd-timeline-img cd-location">-->
        <!--</div> &lt;!&ndash; cd-timeline-img &ndash;&gt;-->

        <!--<div class="cd-timeline-content">-->
          <!--<h2>Title of section 4</h2>-->
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>-->
          <!--<span class="cd-date">Feb 14</span>-->
        <!--</div> &lt;!&ndash; cd-timeline-content &ndash;&gt;-->
      <!--</div> &lt;!&ndash; cd-timeline-block &ndash;&gt;-->

      <!--<div class="cd-timeline-block">-->
        <!--<div class="cd-timeline-img cd-location">-->
        <!--</div>-->

        <!--<div class="cd-timeline-content">-->
          <!--<h2>Title of section 5</h2>-->
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>-->
          <!--<span class="cd-date">Feb 18</span>-->
        <!--</div> &lt;!&ndash; cd-timeline-content &ndash;&gt;-->
      <!--</div> &lt;!&ndash; cd-timeline-block &ndash;&gt;-->

      <!--<div class="cd-timeline-block">-->
        <!--<div class="cd-timeline-img cd-movie">-->
        <!--</div> &lt;!&ndash; cd-timeline-img &ndash;&gt;-->

        <!--<div class="cd-timeline-content">-->
          <!--<h2>Final Section</h2>-->
          <!--<p>This is the content of the last section</p>-->
          <!--<span class="cd-date">Feb 26</span>-->
        <!--</div> &lt;!&ndash; cd-timeline-content &ndash;&gt;-->
      <!--</div> &lt;!&ndash; cd-timeline-block &ndash;&gt;-->
    </section> <!-- cd-timeline -->

  </div>
</div>
