.logo{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:cornflowerblue;
  font-size: 25px;
}
.menu{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  color: black;
}

.nav_bg{
  background-color: transparent;
  border: none;
  margin-bottom: 0px;
}

@media only screen and (min-width: 768px) and (max-width: 920px) {
  .logo{
    font-size: 18px;
  }
  .menu{
    font-size: 15px;
  }
  
}

@media only screen and (min-width: 320px) and (max-width: 480px){
  .logo{
    font-size: 16px;
  }
  .menu{
    font-size: 12px;
  }
  
}
@media only screen and (min-width: 481px) and (max-width: 767px){
  .logo{
    font-size: 18px;
  }
  .menu{
    font-size: 15px;
  }

  .nav-link:hover{
    color: blue;
  }
  
}

