<nav class="navbar navbar-default nav_bg">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right menu">
        <li class="nav-item">
          <a class="nav-link active" href="#" scrollTo="home">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" scrollTo="aboutme">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" scrollTo="skill">Skill</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" scrollTo="eduwork">Education and Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" scrollTo="contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-banner></app-banner>
<app-aboutme></app-aboutme>
<app-skills></app-skills>
<app-educationexperience></app-educationexperience>
<app-contact></app-contact>
<app-footer></app-footer>