<nav class="navbar navbar-expand-md navbar-light fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
          <a class="nav-link active" href="#" scrollTo="home">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" scrollTo="aboutme">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" scrollTo="skill">Skill</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" scrollTo="eduwork">Education and Work</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#" scrollTo="contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-banner></app-banner>
<app-aboutme></app-aboutme>
<app-skills></app-skills>
<app-work></app-work>
<app-educationexperience></app-educationexperience>
<app-awards></app-awards>
<app-portofolio></app-portofolio>
<app-contact></app-contact>
<app-footer></app-footer>
