<ng-container *ngFor="let about of aboutMe.abouts">
<div class="row">
  <div class="col col-md-3"><img class="mypicture" src="../../assets/IMG_4250.JPG" alt=""></div>
  <div class="col col-md-9 myinfo">
    <h3 class="info_head">{{about.title}}
    <span>{{about.subtitle}}</span>
    </h3>
    <p><span>{{about.bio}}</span></p>
    <ul>
    <li><span>Name</span>: {{about.fullname}}</li>
    <li><span>BirthPlace/Date</span>: {{about.birthPlace}}, {{about.birthDate | date}}</li>
    <li><span>Phone</span>: {{about.phone}}</li>
    <li><span>Email</span>: {{about.email}}</li>
      <li><span>Website</span>: {{about.website}}</li>
      <!--<li><span>Address</span>: Jalan Raya Pesanggrahan no.88, Kembangan, Jakarta Barat, Indonesia</li>-->
      <li>
        <a href="#" class="button-cv">Download CV</a>
      </li>
    </ul>

  </div>
</div>
</ng-container>
