<div class="row">
  <div class="col col-md-3"><img class="mypicture" src="../../assets/IMG_4250.JPG" alt=""></div>
  <div class="col col-md-9 myinfo">
    <h3 class="info_head">About Me
    <span>I am Merlinda Sumardi</span>
    </h3>
    <p><span>Hi, You can call me Linda.</span> I am a Web Developer, Web Designer and Software Engineer. I love to learn new things, i used to be work in a team, being a leader and always communicate. I like reading books, watching movie, and sleep. I am now working as Software Specialist in IBM-JTI a subsidiary of IBM Indonesia and I am the future Entrepeneur and woman Leader.</p>
    <ul>
    <li><span>Name</span>: Merlinda Sumardi</li>
    <li><span>BirthPlace/Date</span>: Bandar Lampung, 13 Maret 1995</li>
    <li><span>Phone</span>: 082114529397</li>
    <li><span>Email</span>: merlinda.sumardi@gmail.com</li>
      <li><span>Website</span>: www.merlindasumardi.com</li>
      <li><span>Address</span>: Jalan Raya Pesanggrahan no.88, Kembangan, Jakarta Barat, Indonesia</li>
      <li>
        <a href="#" class="button-cv">Download CV</a>
      </li>
    </ul>

  </div>
</div>
