.mypicture{
  width: 120%;
  height: 50%;
  overflow: hidden;
  border-radius: 10%;
  display: block;
  margin: 0 auto;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-top: 100px;
  margin-right: 10%;
}
  .myinfo {
    padding: 3em;
  }


.info_head {
  text-align: center;
  color: #303030;
  margin: 0 0 1em;
  font-size: 2.5em;
  letter-spacing: 2px;
  text-transform: capitalize;
}

h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}
h3.info_head span {
  font-size: 13px;
  display: block;
  letter-spacing: 4px;
  margin-top: 5px;
  text-transform: uppercase;
  color: #ecb731;
}

.myinfo p {
  color: #303030;
  font-size: 16px;
  line-height: 30px;
  width: 100%;
}

p {
  margin: 0;
}

.myinfo p span {
  color: #ecb731;
  font-size: 19px;
}

.myinfo ul {
  margin-top: 3.75em;
}

ul {
  margin: 0;
  padding: 0;
}

.myinfo ul li {
  list-style: none;
  display: block;
  margin-bottom: 25px;
  color: #8a8a8a;
  font-size: 16px;
  letter-spacing: 0.5px;
  word-wrap: break-word;
}

.myinfo ul li span {
  width: 141px;
  display: inline-block;
  color: #4a4a4a;
  font-weight: 600;
}

.myinfo ul li a.button-cv {
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  font-size: 15px;
  background: #0086fe;
  margin: 10px 10px 0 0px;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: .5px;
}

@media only screen and (min-width: 701px) and (max-width: 991px) {
  .mypicture{
    width: 30%;
    height: 160px;
    overflow: hidden;
    border-radius: 10%;
    display: block;
    margin: 0 auto;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .myinfo p{
    font-size: 14px;
  }

  .myinfo ul li{
    font-size: 14px;
  }

  .myinfo ul li a.button-cv{
    font-size: 13px;
  }
  
}

@media only screen and (min-width: 576px) and (max-width: 700px){
  .mypicture{
    width: 30%;
    height: 138px;
    overflow: hidden;
    border-radius: 10%;
    display: block;
    margin: 0 auto;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: 45px;
    margin-bottom: 15px;
  }
  .myinfo p{
    font-size: 14px;
  }

  .myinfo ul li{
    font-size: 14px;
  }

  .myinfo ul li a.button-cv{
    font-size: 13px;
  }
}


@media only screen and (min-width: 481px) and (max-width: 575px){
  .mypicture{
    width: 38%;
    height: 143px;
    overflow: hidden;
    border-radius: 10%;
    display: block;
    margin: 0 auto;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: 45px;
    margin-bottom: 15px;
  }
  .myinfo p{
    font-size: 14px;
  }

  .myinfo ul li{
    font-size: 14px;
  }

  .myinfo ul li a.button-cv{
    font-size: 13px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px){
  .mypicture{
    width: 42%;
    height: 121px;
    overflow: hidden;
    border-radius: 10%;
    display: block;
    margin: 0 auto;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: 45px;
    margin-bottom: 15px;
  }
  .myinfo p{
    font-size: 12px;
  }

  .myinfo ul li{
    font-size: 12px;
  }

  .myinfo ul li a.button-cv{
    font-size: 11px;
  }

  .info_head{
    font-size: 2em;
  }

  h3.info_head span {
    font-size: 11px;
  }

}
