<div class="container" >
<div class="row" id="aboutme">
  <div class="col col-md-3 myinfo">
      <h3 class="info_head animated fadeInLeftBig text-center">about</h3>
  </div>
  <div class="col col-md-9 myinfo animated fadeInRightBig">
    <p class="text-center">{{aboutMe.bio}}</p>
    <ul>
    <li><span>Phone</span>: {{aboutMe.phone}}</li>
    <li><span>Email</span>: {{aboutMe.email}}</li>
      <li class="text-wrap"><span>Website</span>: {{aboutMe.website}}</li>
      <li>
        <div style="text-align:center">
            <a href="{{aboutMe.cv}}" class="button-cv">See My CV</a>
        </div>
      </li>
    </ul>

  </div>
</div>
</div>
