header.masthead {
  /* background: url() no-repeat center bottom scroll; */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.48), rgba(91, 97, 99, 0.26)), url('/../../assets/porto.jpg') no-repeat center bottom scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
}

header.masthead>.overlay {
  /* padding: 3em 0; */
  /* text-align: left; */
  background: rgba(0, 0, 0, 0.6);
}

.porto{
  padding: 2em;
}

h3{
  padding: 20px;
  font-size: 2.0em !important;
  text-decoration: underline;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.porto-content{
  width: 30rem;
  margin-bottom: 20px;

}

img{
  height: 250px;
}

.language-porto{
  border: 1px solid #a3a3a3;
    border-radius: 10%;
    margin-right: 5px;
    padding: 5px;
    color: #a3a3a3;
}

.title{
  color: #a3a3a3;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.subtitle{
  font-size: 12px;
}

@media only screen and (min-width: 481px) and (max-width: 800px){
  h3{
    font-size: 1.5em;
  }
  h5 {
    font-size: 1em;
  }
  .porto-content{
    width: 20em;
    margin: auto;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px){
  h3{
    font-size: 1em;
  }
  h5 {
    font-size: 1em;
  }
  .porto-content{
    width: 15em;
    margin: auto;
    margin-bottom: 20px;
  }

  label{
    font-size: 12px;
  }

  img {
    height: 170px;
  }
}
