<header class="masthead" id="contact">
  <div class="overlay row">
    <div class="col-md-3">
        <h3 class="text-center" >Contact Me</h3>
    </div>
    <div class="col-md-9 info-box">
        <p class="quote"><i>"Anyone who stop learning is old, anyone who keeps learning is stays young." -Henry Ford-</i></p>
        <p class="contact-item"><i class="fa fa-envelope-o" aria-hidden="true"></i> merlinda.sumardi@gmail.com</p>
        <p class="contact-item"><i class="fa fa-phone" aria-hidden="true"></i> +6282114529397</p>
    </div>
  </div>
</header>
