agm-map {
  height: 500px;
  width: 465px;
}

header.masthead {
  background: url('/../../assets/workspace.jpg') no-repeat center bottom scroll;
  /*background: linear-gradient(0deg, rgba(0, 0, 0, 0.48), rgba(91, 97, 99, 0.26)), url("") no-repeat center bottom fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header.masthead>.overlay {
  padding: 3em 0;
  /* text-align: left; */
  background: rgba(0, 0, 0, 0.6);
}

input, textarea {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

.map{
  border: 5px solid black;
  padding-left: 0px;
  padding-right: 0px;
}
