agm-map {
  height: 500px;
  width: auto;
}

header.masthead {
  background: #ffffff;
  /*background: linear-gradient(0deg, rgba(0, 0, 0, 0.48), rgba(91, 97, 99, 0.26)), url("") no-repeat center bottom fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
}

header.masthead>.overlay {
  padding: 3em 0;
  /* text-align: left; */
}

input, textarea {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

.map{
  border: 5px solid black;
  padding-left: 0px;
  padding-right: 0px;
}

h3{
  padding: 20px;
  font-size: 2.0em !important;
  text-decoration: underline;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #2473a0;
}

.quote{
  color: #838a94;
}

.contact-item{
  color: #3295be;
}

@media only screen and (min-width: 320px) and (max-width: 480px){
  h2{
    font-size: 2em;
  }
}
