<header class="masthead" id="home">
  <div class="overlay">
    <div class="container">
      <h1 class="display-4 text-white ">Hello, I'm Merlinda</h1>
      <h4 class="text-danger ">Software Engineer and Web Designer</h4>
      <ul class="social-nav model-3d-0 w3_agile_social">
        <li>
          <a href="https://www.facebook.com/sweet.linda136" class="facebook">
            <div class="front">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
            <div class="back">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/Mer_mers" class="twitter">
            <div class="front">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </div>
            <div class="back">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </div>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/merlindasumardi/" class="instagram">
            <div class="front">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
            <div class="back">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/merlinda-sumardi-6b929b65/" class="linkedin">
            <div class="front">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </div>
            <div class="back">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
