.skill{
  padding: 2em;
}
.skill_title{
  padding: 2em;
  padding-top: 0;
  color: blueviolet;
}

.skill_type{
  padding: 10px;
  padding-bottom: 0;
}

/*.progress_animation{*/
  /*-webkit-animation: progressBar 3s ease-in-out;*/
  /*-webkit-animation-fill-mode:both;*/
  /*-moz-animation: progressBar 3s ease-in-out;*/
  /*-moz-animation-fill-mode:both;*/
/*}*/

/*@-webkit-keyframes progressBar {*/
  /*0% { width: 0; }*/
  /*100% { width: 100%; }*/
/*}*/

/*@-moz-keyframes progressBar {*/
  /*0% { width: 0; }*/
  /*100% { width: 100%; }*/
/*}*/

ul, li{
  list-style: outside none none;
}

h3{
  padding-bottom: 10px;
}

