<header class="masthead" id="skill">
<div class="skill overlay">
  <div class="container">
  <div class="row">
    <div class="col-md-2">
        <h3 class="text-center skill_title">Skills</h3>
    </div>
    <div class="col-md-5">
      <ul>
        <h5><i class="fa fa-cogs"></i> Technical Skills</h5>
        <ng-container *ngFor="let skill of skill | async">
        <li class="skill_type" *ngIf="skill.skillCategory  == 'Technical'">
          <p>{{skill.skillName}}</p>
          <div class="progress">
          <div class="progress-bar progress-bar-striped active animated fadeInLeftBig progress-bar-success" role="progressbar" [ngStyle]="{'width': skill.skillScore +'%'}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        </li>
        </ng-container>
      </ul>
    </div>

    <div class="col-md-5">
      <ul>
        <h5><i class="fa fa-key"></i> Personal Skills</h5>
        <ng-container *ngFor="let skill of skill | async">
        <li class="skill_type" *ngIf="skill.skillCategory === 'Managerial'">
          <p>{{skill.skillName}}</p>
          <div class="progress">
          <div class="progress-bar progress-bar-striped active animated fadeInLeftBig progress-bar-success"  role="progressbar" [ngStyle]="{'width': skill.skillScore +'%'}"  aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
</div>
</header>
