<header class="masthead" id="skill">
<div class="skill overlay">
  <h1 class="text-center skill_title">Skills</h1>
  <div class="container">
  <div class="row">
    <div class="col-md-4">
      <ul>
        <h5><i class="fa fa-cogs"></i> Technical Skills</h5>
        <ng-container *ngFor="let skill of skill | async">
        <li class="skill_type" *ngIf="skill.skillCategory  == 'Technical'">
          <p>{{skill.skillName}}</p>
          <div class="progress">
          <div class="progress-bar progress-bar-striped active animated fadeInLeftBig progress-bar-success" role="progressbar" [ngStyle]="{'width': skill.skillScore}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        </li>
        </ng-container>
      </ul>
    </div>

    <div class="col-md-4">
      <ul>
        <h5><i class="fa fa-key"></i> Personal Skills</h5>
        <ng-container *ngFor="let skill of skill">
        <li class="skill_type" *ngIf="skill.skillCategory === 'Managerial'">
          <p>{{skill.skillName}}</p>
          <div class="progress">
          <div class="progress-bar progress-bar-striped active animated fadeInLeftBig progress-bar-success"  role="progressbar" [ngStyle]="{'width.px': 70}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        </li>
        </ng-container>
      </ul>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">About My Skills</h3>
      <p><i>"Anyone who stop learning is old, anyone who keeps learning is stays young." -Henry Ford-</i></p>
      <p>I am experienced in event organizer. I was a vice-president of my university swimming club, i love to speak and i was a MC for every event of HIMTI Binus. I also an experienced web developer using php-laravel, angular 4, express js and node js. I am very interesting in chatbots, web design, and mobile developmnet. </p>
    </div>
  </div>
</div>
</div>
</header>
