.box{
    padding: 20x;
}
.selection{
    margin: 10px;
}

.image-preview {
    width: 200px;
    height: 100px;
}

table{
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0px 10px 0px;
}
th,td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

span{
    color: red;
}