<div style="overflow-x:auto">
  <div>
    <button (click)="addPorto()"> add</button>
  </div>
  <table class="table">
    <tr>
      <th>No</th>
      <th>Project Name</th>
      <th>Github Link</th>
      <th>Year</th>
      <th>Language</th>
      <th>Description</th>
      <th>Image 1</th>
      <th>image 2</th>
      <th>Image 3</th>
      <th>Action</th>
    </tr>
    <tr  *ngFor="let projectData of portofolio">
      <td>{{portofolio.indexOf(projectData) + 1}}</td>
      <td>{{projectData.projectName}}</td>
      <td>{{projectData.github}}</td>
      <td>{{projectData.year}}</td>
      <td>{{projectData.language}}</td>
      <td>{{projectData.description}}</td>
      <td>{{projectData.image1}}</td>
      <td>{{projectData.image2}}</td>
      <td>{{projectData.image3}}</td>
      <td>
        <a (click)= 'choosePorto(projectData)'>edit</a> |
        <a (click)='removePorto(projectData.key)'>remove</a>
      </td>
    </tr>
  </table>
  
  <div >
    <h4 *ngIf="isAdd == true">Add Portofolio</h4>
    <h4 *ngIf="isEdit == true">Edit Portofolio</h4>
    <form [formGroup]="portoForm" *ngIf="isAdd == true || isEdit == true">
      <input *ngIf="isEdit == true" type="hidden" formControlName="key" class="form-control">
      <div class="form-group">
        <label for="">Project Name</label>
        <input type="text" formControlName="projectName" class="form-control">
        <span *ngIf="portoForm.get('projectName').errors">Project Name cannot be empty</span>
      </div>
      <div class="form-group">
          <label for="">github</label>
          <input type="text" formControlName="github" class="form-control" >
      </div>
      <div class="form-group">
          <label for="">Year</label>
          <input type="number" formControlName="year" class="form-control" >
          <span *ngIf="portoForm.get('year').errors">Year cannot be empty</span>
      </div>
      <div class="form-group">
          <label for="">Language</label>
          <input type="text" formControlName="language" class="form-control" >
          <span *ngIf="portoForm.get('language').errors">Language cannot be empty</span>
      </div>
      <div class="form-group">
          <label for="">Description</label>
          <textarea id="" cols="30" rows="10" formControlName="description" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <input type="file" formControlName="image1" (change)="upload($event, 'image1')" class="form-control">
      </div>
      <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent1 | async) + '%'" [attr.aria-valuenow]="(uploadPercent | async)" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <img src="{{imageURL1 | async}}" alt="" class="image-preview">
      <div class="form-group">
        <input type="file" formControlName="image2" (change)="upload($event, 'image2')" class="form-control">
      </div>
      <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent2 | async) + '%'" [attr.aria-valuenow]="(uploadPercent | async)" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <img src="{{imageURL2 | async}}" alt="" class="image-preview">
      <div class="form-group">
        <input type="file" formControlName="image3" (change)="upload($event, 'image3')" class="form-control">
      </div>
      <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent3 | async) + '%'" [attr.aria-valuenow]="(uploadPercent | async)" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <img src="{{imageURL3 | async}}" alt="" class="image-preview">
      <div *ngIf="isAdd == true">
        <button  type="submit" [disabled]="!portoForm.valid" (click)="submitPorto()">Submit</button>
      </div>
      <div  *ngIf="isEdit == true">
        <button type="submit" [disabled]="!portoForm.valid" (click)="editPorto()">Edit</button>
      </div>
    </form>
  </div>
  


</div>